.general__title {
   font-weight: 400;
   font-size: 22px;
   line-height: 27px;
   letter-spacing: -0.04em;
}

.general__title::after {
   content: '';
   border-bottom: 1px solid #DADADA;
   display: block;
   margin-top: 23px;
}

@media(max-width:420px) {
   .general__title {
      font-size: 18px;
      line-height: 22px;
   }

   .general__title::after {
      margin-top: 28px;
   }
}