.search-form {
  background-color: #202020;
  /* padding: 80px 0 50px 0; */
  padding: 80px 0 0px 0;
}

.search-form__box {
  display: flex;
}

.search-form__input {
  background-color: #2f2f2f;
  padding: 15px 0 15px 22px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  color: #fff;
}

.search-form__btn {
  background-color: #4285f4;
  border-radius: 40px;
  color: #fff;
  width: 70px;
  height: 44px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 18px;
  transition: all 0.3s linear;
  cursor: pointer;
}

.search-form__btn:hover {
  transition: all 0.3s linear;
  opacity: 0.7;
}

.search-form__box-error {
  height: 30px;
  display: flex;
  align-items: center;
}

.search-form__general-text {
  color: #ee3465;
  margin-left: 22px;
}

.search-form__box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .search-form__btn-regular {
  width: 36px;
  height: 20px;
  background-color: #3ddc84;
  border-radius: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 2px 0 0;
}
.search-form__text-regular {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-left: 12px;
  position: relative;
  cursor: pointer;
}
.search-form__text-regular input {
  display: none;
}

.search-form__text-regular::before {
  content: "";
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #3ddc84;
  position: absolute;
  left: -48px;
  top: 0;
}

.search-form__text-regular::after {
  content: "";
  position: absolute;
  left: -46px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}

.search-form__btn-regular_active::after {
  left: -30px;
}

.search-form__btn-regular_active {
  position: relative;
}

.search-form__btn-round {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
} */

.search-form__line {
  width: 100%;
  border-bottom: 1px solid #424242;
  margin-top: 40px;
}
/* checkbox */
.label-checkbox {
  position: relative;
}

input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  position: relative;
}

.visible-checkbox {
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #3ddc84;
  position: absolute;
  left: -48px;
  top: 0px;
}

.visible-checkbox::after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
}

.visible-checkbox_active::after {
  left: 18px;
}

@media (max-width: 420px) {
  .search-form {
    padding: 80px 0 10px 0;
  }

  .search-form__box-btn {
    margin-top: 43px;
  }

  .search-form__line {
    margin-top: 43px;
  }

  .search-form__input {
    padding: 13px 0 13px 16px;
  }
}
