.acount {
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 9px 12px;
  transition: all 0.3s linear;
}

.acount:hover {
  transition: all 0.3s linear;
  opacity: 0.7;
}

.acount__icon {
  margin-right: 7px;
}
